<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zzmeng.customcamera">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.Camera"
                  android:required="true"/>
    <application>
        <activity android:name=".ui.activity.CustomCameraActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/FullEmptyBackgroundTheme"/>
        <activity android:name=".ui.activity.CustomPreViewActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/FullEmptyBackgroundTheme"/>
    </application>
</manifest>
